.App {
  text-align: left;
  background-color: #feffd9;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Store-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-title, .sign-in-btn, .log-in-btn{
    display: inline-block;
    font-size: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
}

.App-intro {
  font-size: large;
    text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Main-columns {
    margin-bottom: 50px;
}

.Category-column {
    width: 16%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    vertical-align: top;
}

.all-cat-link {
    text-align: center;
}

a.all-cat-link:link, a.homeLink:link, a.category__name:link, a.reg-auth-link:link {
    text-decoration: none;
    display: block;
}

.sign-in-btn {
    background-color: #e17113;
    border-radius: 4px;
    padding: 5px;
}

a.sign-in-btn:link, a.log-in-btn:link {
    text-decoration: none;
}

a.sign-in-btn:visited, a.log-in-btn:visited, a.sign-in-btn, a.log-in-btn {
    color: white;
}

.all-cat-link:visited, a.category__name:visited, a.reg-auth-link:visited, .all-cat-link, a.category__name, a.reg-auth-link {
    color: black;
}

a.homeLink:link {
    font-size: 25px;
    width: 145px;
    margin: auto;
    background-color: #222;
    padding: 10px;
}

a.homeLink:visited {
    color: white;
}

a.category__name:link {
    padding: 12px;
    background-color: #cfcfcf;
}

a.all-cat-link:link {
    font-size: 20px;
    margin: auto;
    width: 125px;
}

.Product-column {
    width: 80%;
    margin-right: 1%;
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
}

.category-container {
    width: auto;

    margin-top: 5px;
}

.product-container {
    height: 150px;
    margin-top: 10px;
    background-color: #cfcfcf;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;
}

.admin-btns {
    margin-top: 20px;
}

.category-create-btn, .product-create-btn {
    background-color: #e7c38c;
    border: none;
    margin-top: 5px;
    padding: 15px;
    width: 100%;
}

.reg-window, .auth-window {
    max-width: 500px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 20px;
    background-color: #cfcfcf;
    text-align: center;
}

.input-div, a.reg-auth-link:link {
    margin-top: 15px;
}

.input-reg, .input-reg-invalid {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
    height: 30px;
}

.input-reg-invalid {
    border-color: #ff9f84;
    background-color: #ffecc2;
}

.submit-btn {
    margin-top: 15px;
    height: 45px;
    min-width: 100px;
    background-color: #e17113;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 4px;
}

.submit-btn:disabled {
    background-color: #e1b58e;
}

.submit-btn:hover{
    cursor: pointer;
}

.input-error {
    background-color: #ffde71;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.input-error-none {
display: none;
}

.input-error-warning {
    background-color: #ff8484;
    padding-top: 5px;
    padding-bottom: 5px;
}