.App {
  text-align: center;
  background-color: aliceblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Main-columns {
}

.Category-column {
  background-color: darkgray;
  width: 17%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  min-height: 200px;
  border-radius: 4px;
}

.Product-column {
  background-color: gainsboro;
  width: 80%;
  margin-right: 1%;
  display: inline-block;
  min-height: 500px;
  border-radius: 4px;
}

.category-article {
  height: 40px;
  width: auto;
  background-color: gainsboro;
  border: 1px solid #595959;
}

.product-article {
  width: 300px;
  height: 450px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #898989;
  background-color: white;
  display: inline-block;

}

